name: lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install -r requirements_minimal_CI.txt
          pip install -r requirements_lint_CI.txt
          # Mypy also checks types in the tests/ folder
          pip install -r requirements_tests_CI.txt
          pip install build
          python -m build .

      - name: black
        run: black --check .

      - name: flake8
        run: |
          flake8
          # Warn about complex functions.
          flake8 --exit-zero --max-complexity=10

      - name: Type checking with mypy
        run: mypy
