name: tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  canceller:
    runs-on: ubuntu-18.04
    steps:
      - name: cancel previous runs
        uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}

  tests:

    runs-on: ${{ matrix.os }}
    defaults:
      run:
        # Needed to use the conda environment.
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, windows-2019, macos-10.15]
        python-version: [3.6, 3.9]
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}

    steps:
      - name: checkout
        uses: actions/checkout@v2

      # We only install conda to get msprime (on windows).
      - name: install conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: conda-forge

      - name: install dependencies
        run: |
          conda install --yes \
            $(grep numpy requirements/*.txt) $(grep msprime requirements/*.txt)
          pip install -r requirements/minimal.txt
          pip install -r requirements/tests.txt
          pip install -r requirements/delete-me.txt

      - name: run pytest
        run: |
          python -m pytest -n auto \
            --cov=demes --cov-report=term-missing --cov-report=xml -v tests

      - name: upload coverage report to codecov
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: true
          env_vars: OS,PYTHON
          verbose: true
